/* Start Font */
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* End Font */

/* Start Body */
body{
 color: brown;
 font-family:Roboto, Helvetica, Arial, sans-serif;
 font-size: 16px;
 line-height: 1.5em;
 margin: 0;
 padding: 0;
}
 /* End body*/

 /* Start debud*/
 .bg-blueviolet {
     background-color:blueviolet;
 }
.bg-pink {
     background-color: pink;
}
.bg-cyan {
    background-color: cyan;
}
.bg-yellow {
    background-color: yellow;
}
 /* end bebud */

 /* start container */
 .container {
     margin: 10px auto;
     overflow: auto;
     width: 90%; 
 }
 /* end container */
 

.container.full {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}
/* End Container */

/* Start Logo*/
.logo{
    text-align: center;
}
/* End logo*/

/* start anchor / hyperlink */
a:link,
a:visited {
    color: blue;
    text-decoration: none
}
a:hover,
a:active {
    color: #000;
    text-decoration: underline;
}
/* End Anchor / Hyperlink */

/* Start menu primer*/
.menu-primer ul {
    background-color: red;                      
    border-radius:4px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2),
                0 6px 10px 0 rgba(0, 0, 0, .14),
                0 1px 18px 0 rgba(0, 0, 0, .12),
 }

.menu-primer li {
    border-right: 1px solid brown;
    display: inline-block;
    margin: 0-4px;
}

.menu-primer a {
    color: aqua;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.menu-primer a:hover {
    background-color: bisque;
    color: #000;
    text-decoration: none;
}

.menu-primer .active {
    background-color: aquamarine;
    color: beige;
    text-decoration:  none;
}
/* end menu primer */

/* Start Heading */
h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size:  24px;
}
h3 {
    font-size:  18px;
}
h4 {
    font-size:  16px;
}
h5 {
    font-size:  14px;
}
h6 {
    font-size:  13px;
}
/* End Heading */

/* Start Jumbotron */
.jumbotron {
    background-color: plum;
    border: 1px solid palegreen;
    border-radius: 4px;
    padding: 20px 0;
}
.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}
/* End Jombroton */

/* Start Main */
.main-home-one {
    float: left;
    width: 50%;
}

.main-home-two {
    float: right;
    width: 50%;
}
/* end main */

/* Start Box */
.box-heading {
    background-color: pink;
    border: 1px solid burlywood;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase
}
.box-heading h4 {
    font-size: 14px;
    margin: 0;
}